"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true
continuation_prompt = '▶▶ '

# way.
format = """
{{- if eq .chezmoi.os "darwin" }}
[](red)\
{{- else }}
[](blue)\
{{- end }}
$os\
$hostname\
{{- if eq .chezmoi.os "darwin" }}
[](bg:yellow fg:red)\
{{- else }}
[](bg:yellow fg:blue)\
{{- end }}
$directory\
[](bg:teal fg:yellow)\
$git_branch\
$git_state\
$git_commit\
[](bg:rosewater fg:teal)\
$kubernetes\
[ ](bg:black fg:rosewater)\
$cmd_duration\
$fill\
$jobs\
$memory_usage\
$battery\
$time\
$line_break\
$status\
$character"""

palette = 'catppuccin_mocha'


[character]
success_symbol = '[➜](bold fg:green) '
error_symbol = '[✗](bold fg:red) '

[directory]
style = "bg:yellow fg:crust"
format = "[ $path$read_only]($style)"
read_only = "  "
truncation_length = 3
truncate_to_repo = true
substitutions = [
 { from = "~/Documents", to = "~/Documents 󰈙 " },
 { from = "~/Downloads", to = "~/Downloads  " },
 { from = "~/Music", to = "~/Music 󰝚 " },
 { from = "~/Pictures", to = "~/Pictures  " },
 { from = "~/code", to = "~/code 󰲋 " }
]

[fill]
symbol = ' '

[hostname]
ssh_only = false
{{- if eq .chezmoi.os "darwin" }}
style = "bg:red fg:crust"
{{- else }}
style = "bg:blue fg:crust"
{{- end }}
format = '[ $hostname ]($style)'

[git_branch]
symbol = ""
style = "bg:teal"
format = '[[ $symbol $branch ](bg:teal fg:crust)]($style)'

[git_commit]
style = "bg:teal"
format = '[[($hash)](bg:teal fg:crust)]($style)'
only_detached = true
tag_disabled = true

[git_state]
style = "bg:teal fg:crust"
format = '[$state( $progress_current/$progress_total)]($style)"

[kubernetes]
disabled = false
symbol = "󱃾 "
format = '[ [$symbol](bold bg:rosewater fg:blue) $context \($namespace\) ]($style)'
style = "bg:rosewater"

[[kubernetes.contexts]]
context_pattern = "^homelab$"
context_alias = "homelab"
style = "bg:rosewater fg:#f81b10"

[[kubernetes.contexts]]
context_pattern = "^nas$"
context_alias = "nas"
style = "bg:rosewater fg:#a84bc0"

[[kubernetes.contexts]]
context_pattern = "^admin@sandbox-talos$"
context_alias = "sandbox-talos"
style = "bg:rosewater fg:crust"

[os]
disabled = false
{{- if eq .chezmoi.os "darwin" }}
style = "bg:red fg:crust"
{{- else }}
style = "bg:blue fg:crust"
{{- end }}

[os.symbols]
Alpine = ""
Debian = "󰣚"
Linux = "󰌽"
Macos = "󰀵"
Raspbian = "󰐿"
{{- if eq .chezmoi.homeDir "/home/coder" }}
Ubuntu = "󰕈 on "
{{- else }}
Ubuntu = "󰕈"
{{- end }}
Ubuntu = "󰕈"
Windows = ""

[status]
map_symbol = true
pipestatus = true
disabled = false

[time]
disabled = false
time_format = "%R"
style = "fg:white"
format = '[  $time ]($style)'

[line_break]
disabled = false
# ------------------------- MODULES ENABLED ON CERTAIN SCENARIOS ------------------------------
{{- if eq .chezmoi.os "darwin" }}
[[battery.display]]
threshold = 10
style = 'bold red'

[[battery.display]]
threshold = 25
style = 'bold yellow'

[[battery.display]]
threshold = 100
style = 'fg:white'

[memory_usage]
symbol = '󰍛'
format = ' $symbol [${ram_pct}( | ${swap_pct})]($style) '
threshold = -1
disabled = false
{{- end }}

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
