#!/usr/bin/env bash
set -euo pipefail

set -o allexport
{{ template "aqua.env" . -}}
set +o allexport


{{ template "script_header.sh" . }}
{{ template "script_aqua.sh" . }}


main() {
  local setup_type="First-Time"

  aqua_prerequisites $setup_type

  export AQUA_CONFIG="{{ .chezmoi.sourceDir }}/.first-time-setup/aqua.yaml"
  if [[ ! -f "$AQUA_CONFIG" ]]; then
    log_error "Aqua | $setup_type | config file ($AQUA_CONFIG) doesn't exist!"
    echo
    exit 1
  fi

  show_aqua_env $setup_type
  echo

  if [[ -d "$AQUA_ROOT_DIR" && -f "$AQUA_ROOT_DIR/.first-time-setup-complete" ]]; then
    log_info "Aqua | $setup_type | Has previously been setup, skipping first time setup..."
    echo "-------------------------------------------------------------------------------------------"
    echo
    return
  else
    log_info "Aqua | $setup_type | Starting..."
  fi

  setup_aqua_packages $setup_type | sed -E 's|^(.*)|    \1|g'
  echo

  log_info "Aqua | $setup_type | Making chezmoi dependencies available without aqua..."
  mkdir -p $HOME/.local/bin
  aqua cp -o $HOME/.local/bin
  echo

  display_installed_aqua_packages $setup_type
  touch "$AQUA_ROOT_DIR/.first-time-setup-complete"
  log_success "Aqua | $setup_type | Complete!"
  echo "-------------------------------------------------------------------------------------------"
  echo
}

main
