#!/usr/bin/env bash
set -euo pipefail

{{ template "script_header.sh" . }}

log_info "Krew Plugins | Initializing krew..."
if ! command -v kubectl > /dev/null; then
  log_error "Krew Plugins | Kubectl binary is not in path, cannot proceed!"
  exit 1
fi
if ! command -v kubectl-krew > /dev/null; then
  log_error "Krew Plugins | Krew binary is not in path, cannot proceed!"
  exit 1
fi
if [[ ! -d $HOME/.krew/bin ]]; then
  log_info "Krew Plugins | Creating directories..."
  mkdir -p $HOME/.krew/bin
fi
log_info "Krew Plugins | Updating index..."
kubectl krew update 2>&1 | sed -E 's/^(.*)/    \1/g'
echo
log_info "Krew Plugins | Detecting installed krew plugins..."
INSTALLED_LIST=$(mktemp "krew.$(date +%Y%m%d_%H%M%S).XXXXX" -p /tmp --suffix ".list")
trap "rm -f $INSTALLED_LIST" EXIT
kubectl krew list > $INSTALLED_LIST
echo
log_info "Krew Plugins | Upgrading existing plugins..."
kubectl krew upgrade --no-update-index 2>&1 | sed -E 's/^(.*)/    \1/g'
echo
log_info "Krew Plugins | Installing new plugins..."
while read -r plugin; do
  if [[ -n "$plugin" && ! "$plugin" =~ ^# ]]; then
    if ! grep '^'$plugin'$' $INSTALLED_LIST >/dev/null; then
      kubectl krew install --no-update-index "$plugin" 2>&1 | sed -E 's/^(.*)/    \1/g'
    fi
  fi
done < {{ .chezmoi.sourceDir }}/krew-plugins.txt
log_success "Krew Plugins | Krew plugins installed successfully!"
echo
log_info "Krew Plugins | Display installed packages..."
kubectl krew list | column -t 2>&1 | sed -E 's|^(.*)|    \1|g'
echo "-------------------------------------------------------------------------------------------"
echo
