#!/bin/bash
set -eo pipefail

{{ template "script_header.sh" . }}
{{ template "aqua_install.sh" . }}

aqua_install
echo "-------------------------------------------------------------------------------------------"
echo
