#!/usr/bin/env bash
set -euo pipefail

set -o allexport
{{ template "mise.env" . -}}
{{ template "node.env" . -}}
{{ template "homebrew.env" . -}}
set +o allexport
export PATH=${HOMEBREW_PREFIX}/opt/coreutils/libexec/gnubin:${HOMEBREW_PREFIX}/bin:${HOMEBREW_PREFIX}/sbin:$PATH

{{ template "script_header.sh" . }}
{{ template "script_mise.sh" . }}


main() {
  local setup_type="First-Time"

  mise_prerequisites $setup_type

  show_mise_env $setup_type
  echo

  if [[ -d "$MISE_CACHE_DIR" && -d "$MISE_DATA_DIR" && -d "$MISE_STATE_DIR" && -f "$MISE_DATA_DIR/.first-time-setup-complete" ]]; then
    log_info "Mise | $setup_type | Has previously been setup, skipping first time setup..."
    echo "-------------------------------------------------------------------------------------------"
    echo
    return
  else
    log_info "Mise | $setup_type | Starting..."
    local mise_cfg_dir="$(dirname "${MISE_GLOBAL_CONFIG_FILE}")"
    rm -rf "${mise_cfg_dir}"
    mkdir -p "${mise_cfg_dir}"    
    cp "{{ .chezmoi.sourceDir }}/.first-time-setup/mise.toml" "${MISE_GLOBAL_CONFIG_FILE}"
  fi

  setup_mise_packages $setup_type | sed -E 's|^(.*)|    \1|g'
  echo
  display_installed_mise_packages $setup_type

  touch "$MISE_DATA_DIR/.first-time-setup-complete"
  log_success "Mise | $setup_type | Complete!"
  echo "-------------------------------------------------------------------------------------------"
  echo
}

main
