{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -euo pipefail

set -o allexport
{{ template "homebrew.env" . }}
set +o allexport


{{ template "script_header.sh" . }}

gui_prerequisites() {
  if ! command -v brew > /dev/null; then
    log_error "GUI Packages | Brew binary is not in path, cannot proceed!"
    exit 1
  fi
}

install_gui_packages() {
  log_info "GUI Packages | Installing MacOS GUI packages with homebrew..."
  brew bundle --file={{ .chezmoi.sourceDir }}/Brewfile.gui 2>&1 | sed -E 's|^(.*)|    \1|g'
  log_success "GUI Packages | Homebrew GUI packages have been installed."
}

main () {
  log_info "GUI Packages | Setting up..."
  gui_prerequisites
  install_gui_packages
  echo "-------------------------------------------------------------------------------------------"
  echo
}

main
{{ end -}}
