{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

{{ template "script_header.sh" . }}

log_info "System Packages | Setting up homebrew env..."
grep HOMEBREW {{ .chezmoi.sourceDir }}/dot_env.tmpl > /tmp/homebrew.env
set +o allexport
source /tmp/homebrew.env
set -o allexport
env | grep HOMEBREW | sort | sed -E 's|^(.*)|    \1|g'
rm /tmp/homebrew.env
echo

log_info "System Packages | Installing Homebrew system packages..."
if ! command -v brew > /dev/null; then
  log_error "System Packages | Brew binary is not in path, cannot proceed!"
  exit 1
fi
brew bundle --file={{ .chezmoi.sourceDir }}/Brewfile.system 2>&1 | sed -E 's|^(.*)|    \1|g'
log_success "System Packages | Homebrew system packages have been installed."
echo "-------------------------------------------------------------------------------------------"
echo
{{ end -}}
