{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -euo pipefail

{{ template "script_header.sh" . }}
set -o allexport
{{ template "package_manager.env" . }}
set +o allexport

log_info "System Packages | Using homebrew env..."
env | grep HOMEBREW | sort | sed -E 's|^(.*)|    \1|g'
echo

if ! command -v brew &> /dev/null; then
  log_info "System Packages | Installing Homebrew package manager..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)" 2>&1 | sed -E 's|^(.*)|    \1|g'
  log_success "System Packages | Homebrew package manager install completed."
else
  log_info "System Packages | Homebrew package manager already exists, updating..."
  brew update 2>&1 | sed -E 's|^(.*)|    \1|g'
  log_success "System Packages | Homebrew package manager has been updated."
fi
echo "-------------------------------------------------------------------------------------------"
echo
{{ end -}}
