#!/usr/bin/env bash
set -eo pipefail

{{ template "script_header.sh" . }}
set -o allexport
{{ template "package_manager.env" . }}
set +o allexport

log_info "CLI Tools | Initializing Aqua..."
if ! command -v aqua > /dev/null; then
  log_error "CLI Tools | Aqua binary is not in path, cannot proceed!"
  exit 1
fi

log_info "CLI Tools | Using aqua env..."
env | grep AQUA | sort | sed -E 's|^(.*)|    \1|g'
echo

if [[ ! -d "$AQUA_ROOT_DIR" ]]; then
  log_info "CLI Tools | Performing aqua first time setup..."
  mkdir -p $AQUA_ROOT_DIR
  cp {{ .chezmoi.sourceDir }}/dot_config/aquaproj-aqua/aqua.yaml $AQUA_ROOT_DIR/aqua.yaml
  cp {{ .chezmoi.sourceDir }}/dot_config/aquaproj-aqua/aqua-checksums.json $AQUA_ROOT_DIR/aqua-checksums.json
fi

log_info "CLI Tools | Installing or upgrading aqua packages..."
aqua install --all 2>&1 | sed -E 's|^(.*)|  \1|g'
log_success "CLI Tools | Aqua install is complete."
echo
log_info "CLI Tools | Display installed packages..."
aqua list --installed --all | column -t 2>&1 | sed -E 's|^(.*)|  \1|g'
echo "-------------------------------------------------------------------------------------------"
echo

log_info "CLI Tools | Making tools needed by chezmoi available without aqua..."
mkdir -p $HOME/.local/bin
aqua cp -o $HOME/.local/bin bws
echo "-------------------------------------------------------------------------------------------"
echo
