#!/usr/bin/env bash
set -euo pipefail

set -o allexport
{{ template "mise.env" . }}
set +o allexport


{{ template "script_header.sh" . }}
{{ template "mise_install.sh" . }}

main() {
  log_info "Mise | Performing standard mise setup..."
  mise_prerequisites
  show_mise_env
  echo
  activate_mise
  install_or_upgrade_mise_packages
  echo
  display_installed_mise_packages
  echo "-------------------------------------------------------------------------------------------"
  echo
}

main
