github.com:
    git_protocol: ssh
    user: ppat
    users:
        ppat:
            oauth_token: {{ (bitwardenSecrets "768f7d73-1dda-4bc1-9a61-b245004d30d8" .bwsAccessToken).value }}
    oauth_token: {{ (bitwardenSecrets "768f7d73-1dda-4bc1-9a61-b245004d30d8" .bwsAccessToken).value }}
