DOMAIN_NAME="{{ (bitwardenSecrets "288eeda0-d57f-4a91-8651-b2090163ecc0" .bwsAccessToken).value }}"

OIDC_K8S_NAS_CLIENTID="{{ (bitwardenSecrets "8e541ef6-2f44-455e-a8c7-b29c004472dd" .bwsAccessToken).value }}"
OIDC_K8S_NAS_CLIENTSECRET="{{ (bitwardenSecrets "42fed349-f7e4-4ce7-bcca-b29c004472dc" .bwsAccessToken).value }}"

OIDC_K8S_HOMELAB_CLIENTID="{{ (bitwardenSecrets "b24596ce-4606-44d1-88e8-b29c0045113f" .bwsAccessToken).value }}"
OIDC_K8S_HOMELAB_CLIENTSECRET="{{ (bitwardenSecrets "d3eef005-4ed1-4ce3-af9c-b29c00451147" .bwsAccessToken).value }}"
