# dotenv-linter:off QuoteCharacter

DOMAIN_NAME="{{ (bitwardenSecrets "288eeda0-d57f-4a91-8651-b2090163ecc0" .bwsAccessToken).value }}"

# needed for claude code
ANTHROPIC_API_KEY="{{ (bitwardenSecrets "024699f4-f873-48e2-bcf3-b342011d763c" .bwsAccessToken).value }}"
ANTHROPIC_BASE_URL="https://openrouter.ai/api/v1"

# needed for authentik terraform provider (AUTHENTIK_TOKEN will need to be set manually)
AUTHENTIK_URL="https://auth.homelab.${DOMAIN_NAME}/"

# needed for using minio bucket as terraform backend
AWS_ACCESS_KEY_ID="{{ (bitwardenSecrets "71767eca-0be3-4a3d-ae9d-b27f0021125f" .bwsAccessToken).value }}"
AWS_ENDPOINT_URL_S3="https://s3.homelab.${DOMAIN_NAME}"
AWS_REGION="us-east-1"
AWS_SECRET_ACCESS_KEY="{{ (bitwardenSecrets "a8c2b07b-0dac-44d8-a917-b27f0021125e" .bwsAccessToken).value }}"

# needed for using cloudflare terraform provider
CLOUDFLARE_API_TOKEN="{{ (bitwardenSecrets "af6e0656-396a-476b-9e50-b2fb003fcddc" .bwsAccessToken).value }}"

# needed by various tools (mise, aqua, etc) to make Github API calls w/out encountering rate limits
GITHUB_TOKEN="{{ (bitwardenSecrets "768f7d73-1dda-4bc1-9a61-b245004d30d8" .bwsAccessToken).value }}"

# needed for using harbor terraform provider
HARBOR_PASSWORD="{{ (bitwardenSecrets "6f32283c-e59f-49fa-92cb-b2610001ee68" .bwsAccessToken).value }}"
HARBOR_URL="https://harbor.nas.${DOMAIN_NAME}"
HARBOR_USERNAME="{{ (bitwardenSecrets "9972a594-6818-40b8-a510-b2f2016c6b3b" .bwsAccessToken).value }}"

# needed for openai codex
OPENROUTER_API_KEY="{{ (bitwardenSecrets "024699f4-f873-48e2-bcf3-b342011d763c" .bwsAccessToken).value }}"
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

# dotenv-linter:off LowercaseKey
# needed by terraform workspaces variables
# - for accessing or creating secrets
TF_VAR_bitwarden_project_id="{{ (bitwardenSecrets "05af1235-fd06-402b-b863-b2f2017e4252" .bwsAccessToken).value }}"
# - for using minio terraform provider
TF_VAR_minio_homelab_endpoint="s3.homelab.${DOMAIN_NAME}"
TF_VAR_minio_homelab_password="{{ (bitwardenSecrets "5efd76d9-daf0-4474-86da-b2f201831074" .bwsAccessToken).value }}"
TF_VAR_minio_homelab_user="{{ (bitwardenSecrets "73e70b84-0cd4-4361-8f86-b2f20182f46c" .bwsAccessToken).value }}"
TF_VAR_minio_nas_endpoint="s3.nas.${DOMAIN_NAME}"
TF_VAR_minio_nas_password="{{ (bitwardenSecrets "7555f22f-068b-4d39-b952-b22d006db353" .bwsAccessToken).value }}"
TF_VAR_minio_nas_user="{{ (bitwardenSecrets "76b42fcf-4aa2-412e-bc23-b22d006d90a3" .bwsAccessToken).value }}"
# dotenv-linter:on LowercaseKey
