# dotenv-linter:off ExtraBlankLine
# ============================= Shell Preferences =================================
EDITOR=vim
LANG=en_US.UTF-8
LC_ALL=en_US.UTF-8
PAGER=less
TERM=xterm-256color
VISUAL=vim

# ============================== Package Managers =================================
{{ template "aqua.env" . }}
{{ template "krew.env" . }}
{{ template "mise.env" . }}
{{ template "homebrew.env" . }}

# ======================== Language Runtimes and SDKs =============================
{{ template "node.env" . }}

# Python
PYTHONUNBUFFERED=1


# ============================ Application Settings ===============================
# Ansible
ANSIBLE_HOST_KEY_CHECKING=False
ANSIBLE_LOCALHOST_WARNING=False
ANSIBLE_RETRY_FILES_ENABLED=False
ANSIBLE_SSH_PIPELINING=True
ANSIBLE_STDOUT_CALLBACK=yaml

# Colors
CLICOLOR=1
GREP_OPTIONS=--color=auto
LS_COLORS=di=34:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43

# FZF: Make display more compact (40% height) and visually distinguishable (with borders)
FZF_DEFAULT_OPTS="--height 40% --layout=reverse --border"

# Misc
BAT_THEME=ansi
{{- if stat (joinPath .chezmoi.homeDir ".ssh/id_ed25519") }}
GIT_SSH_COMMAND="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -i {{ .chezmoi.homeDir }}/.ssh/id_ed25519"
{{- end }}
LESSHISTFILE=/dev/null
{{- if stat (joinPath .chezmoi.homeDir ".ripgreprc") }}
RIPGREP_CONFIG_PATH={{ .chezmoi.homeDir }}/.ripgreprc
{{- end }}

{{ if eq .chezmoi.os "linux" -}}
# X11: Use X11 display if available
DISPLAY=:0
{{- end }}

# Set up XDG directories explicitly
XDG_CACHE_HOME=$HOME/.cache
XDG_CONFIG_HOME=$HOME/.config
XDG_DATA_HOME=$HOME/.local/share
XDG_STATE_HOME=$HOME/.local/state
