# dotenv-linter:off QuoteCharacter

DOMAIN_NAME="{{ (bitwardenSecrets "288eeda0-d57f-4a91-8651-b2090163ecc0" .bwsAccessToken).value }}"

{{ if eq .chezmoi.os "darwin" }}
# needed for authentik terraform provider (AUTHENTIK_TOKEN will need to be set manually)
AUTHENTIK_URL="https://auth.homelab.${DOMAIN_NAME}/"

# needed for using minio bucket as terraform backend
AWS_ACCESS_KEY_ID="{{ (bitwardenSecrets "71767eca-0be3-4a3d-ae9d-b27f0021125f" .bwsAccessToken).value }}"
AWS_ENDPOINT_URL_S3="https://s3.homelab.${DOMAIN_NAME}"
AWS_REGION="us-east-1"
AWS_SECRET_ACCESS_KEY="{{ (bitwardenSecrets "a8c2b07b-0dac-44d8-a917-b27f0021125e" .bwsAccessToken).value }}"

# needed for using cloudflare terraform provider
CLOUDFLARE_API_TOKEN="{{ (bitwardenSecrets "af6e0656-396a-476b-9e50-b2fb003fcddc" .bwsAccessToken).value }}"

# needed for garage access
GARAGE_ENDPOINT="https://garage.homelab.${DOMAIN_NAME}"
GARAGE_TOKEN="{{ (bitwardenSecrets "40a8f892-2228-4147-ad98-b4a50005346d" .bwsAccessToken).value }}"

# needed for using harbor terraform provider
HARBOR_PASSWORD="{{ (bitwardenSecrets "6f32283c-e59f-49fa-92cb-b2610001ee68" .bwsAccessToken).value }}"
HARBOR_URL="https://harbor.nas.${DOMAIN_NAME}"
HARBOR_USERNAME="{{ (bitwardenSecrets "9972a594-6818-40b8-a510-b2f2016c6b3b" .bwsAccessToken).value }}"

# needed by mise to make Github API calls w/out encountering rate limits
# MISE_GITHUB_TOKEN="{{ (bitwardenSecrets "768f7d73-1dda-4bc1-9a61-b245004d30d8" .bwsAccessToken).value }}"

# dotenv-linter:off LowercaseKey
# needed by terraform workspaces variables
# - for accessing or creating secrets
TF_VAR_bitwarden_project_id="{{ (bitwardenSecrets "05af1235-fd06-402b-b863-b2f2017e4252" .bwsAccessToken).value }}"
# - client IDs for authentik
TF_VAR_clientid_coder="{{ (bitwardenSecrets "402efdb1-c827-4a7d-8bf3-b2840145f526" .bwsAccessToken).value }}"
TF_VAR_clientid_grafana="{{ (bitwardenSecrets "5cb63b7d-9277-48d9-84fd-b281017cfffe" .bwsAccessToken).value }}"
TF_VAR_clientid_harbor="{{ (bitwardenSecrets "da4b5b1d-dff2-4b79-8d63-b28000aebb49" .bwsAccessToken).value }}"
TF_VAR_clientid_kuberneteshomelab="{{ (bitwardenSecrets "b24596ce-4606-44d1-88e8-b29c0045113f" .bwsAccessToken).value }}"
TF_VAR_clientid_kubernetesnas="{{ (bitwardenSecrets "8e541ef6-2f44-455e-a8c7-b29c004472dd" .bwsAccessToken).value }}"
TF_VAR_clientid_miniohomelab="{{ (bitwardenSecrets "94170b78-30f5-4573-80c4-b28000aeba27" .bwsAccessToken).value }}"
TF_VAR_clientid_minionas="{{ (bitwardenSecrets "dbe17e7c-6eed-4613-a20e-b28000aeba1b" .bwsAccessToken).value }}"
TF_VAR_clientid_openwebui="{{ (bitwardenSecrets "9cde289a-f199-41be-b9bf-b29c004bc12b" .bwsAccessToken).value }}"
# - for garage tf provider
TF_VAR_garage_admin_endpoint="${GARAGE_ENDPOINT}"
TF_VAR_garage_admin_token="$GARAGE_TOKEN"
# - for using minio terraform provider
TF_VAR_minio_homelab_endpoint="s3.homelab.${DOMAIN_NAME}"
TF_VAR_minio_homelab_password="{{ (bitwardenSecrets "5efd76d9-daf0-4474-86da-b2f201831074" .bwsAccessToken).value }}"
TF_VAR_minio_homelab_user="{{ (bitwardenSecrets "73e70b84-0cd4-4361-8f86-b2f20182f46c" .bwsAccessToken).value }}"
TF_VAR_minio_nas_endpoint="s3.nas.${DOMAIN_NAME}"
TF_VAR_minio_nas_password="{{ (bitwardenSecrets "7555f22f-068b-4d39-b952-b22d006db353" .bwsAccessToken).value }}"
TF_VAR_minio_nas_user="{{ (bitwardenSecrets "76b42fcf-4aa2-412e-bc23-b22d006d90a3" .bwsAccessToken).value }}"
# dotenv-linter:on LowercaseKey
{{- end }}
