DOMAIN_NAME="{{ (bitwardenSecrets "288eeda0-d57f-4a91-8651-b2090163ecc0" .bwsAccessToken).value }}"

# needed by various tools (mise, aqua, etc) to make Github API calls w/out encountering rate limits
GITHUB_TOKEN="{{ (bitwardenSecrets "768f7d73-1dda-4bc1-9a61-b245004d30d8" .bwsAccessToken).value }}"

# needed for creating ~/.kube/config
OIDC_K8S_NAS_CLIENTID="{{ (bitwardenSecrets "8e541ef6-2f44-455e-a8c7-b29c004472dd" .bwsAccessToken).value }}"
OIDC_K8S_NAS_CLIENTSECRET="{{ (bitwardenSecrets "42fed349-f7e4-4ce7-bcca-b29c004472dc" .bwsAccessToken).value }}"
OIDC_K8S_HOMELAB_CLIENTID="{{ (bitwardenSecrets "b24596ce-4606-44d1-88e8-b29c0045113f" .bwsAccessToken).value }}"
OIDC_K8S_HOMELAB_CLIENTSECRET="{{ (bitwardenSecrets "d3eef005-4ed1-4ce3-af9c-b29c00451147" .bwsAccessToken).value }}"

# needed for using minio bucket as terraform backend
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="{{ (bitwardenSecrets "71767eca-0be3-4a3d-ae9d-b27f0021125f" .bwsAccessToken).value }}"
AWS_SECRET_ACCESS_KEY="{{ (bitwardenSecrets "a8c2b07b-0dac-44d8-a917-b27f0021125e" .bwsAccessToken).value }}"
AWS_ENDPOINT_URL_S3="https://s3.homelab.${DOMAIN_NAME}"

# needed for using minio terraform provider
MINIO_USER="{{ (bitwardenSecrets "73e70b84-0cd4-4361-8f86-b2f20182f46c" .bwsAccessToken).value }}"
MINIO_PASSWORD="{{ (bitwardenSecrets "5efd76d9-daf0-4474-86da-b2f201831074" .bwsAccessToken).value }}"
MINIO_ENDPOINT="s3.homelab.${DOMAIN_NAME}"

# needed for using harbor terraform provider
HARBOR_URL="https://harbor.nas.${DOMAIN_NAME}"
HARBOR_USERNAME="{{ (bitwardenSecrets "9972a594-6818-40b8-a510-b2f2016c6b3b" .bwsAccessToken).value }}"
HARBOR_PASSWORD="{{ (bitwardenSecrets "6f32283c-e59f-49fa-92cb-b2610001ee68" .bwsAccessToken).value }}"

# needed for authentik terraform provider
AUTHENTIK_URL="https://auth.homelab.${DOMAIN_NAME}/"

# needed by all terraform workspaces that create secrets
TF_VAR_bitwarden_project_id="{{ (bitwardenSecrets "05af1235-fd06-402b-b863-b2f2017e4252" .bwsAccessToken).value }}"
