[tools]
cargo-binstall = "1.12.0"
go             = "1.25.7"
node           = "24.12.0"
rust           = "1.91.1"
terraform      = "1.6.6"
usage          = "2.13.1"

"npm:@anthropic-ai/claude-code" = "2.1.42"
"npm:@google/gemini-cli"        = "0.27.3"
"npm:@openai/codex"             = "0.94.0"
"npm:markdownlint-cli2"         = "0.20.0"

"pipx:ansible-core" = { version = "2.20.2", uvx_args = "--with jmespath==1.0.1 --with kubernetes==33.1.0" }
"pipx:pre-commit"   = "4.5.1"
"pipx:yamllint"     = "1.38.0"

[settings]
experimental                        = true
trusted_config_paths                = ["~/code"]
idiomatic_version_file_enable_tools = []

[settings.npm]
bun = true
[settings.pipx]
uvx = true

[[env]]
_.file = ".env"
# This should be loaded to env as needed
# [[env]]
# _.file = { path = "~/.env.secrets", redact = true }
[[env]]
_.file = "~/.env.overrides"
