[tools]
cargo-binstall = "1.12.0"
go             = "1.25.1"
node           = "24.11.1"
rust           = "1.88.0"
terraform      = "1.6.6"
usage          = "2.6.0"

"npm:@anthropic-ai/claude-code" = "2.0.60"
"npm:@google/gemini-cli"        = "0.18.4"
"npm:@openai/codex"             = "0.57.0"
"npm:markdownlint-cli2"         = "0.19.1"

"pipx:ansible-core" = { version = "2.19.4", uvx_args = "--with jmespath==1.0.1 --with kubernetes==33.1.0" }
"pipx:pre-commit"   = "4.5.0"
"pipx:yamllint"     = "1.37.1"

[settings]
experimental                        = true
trusted_config_paths                = ["~/code"]
idiomatic_version_file_enable_tools = []

[settings.npm]
bun = true
[settings.pipx]
uvx = true

[[env]]
_.file = ".env"
# This should be loaded to env as needed
# [[env]]
# _.file = { path = "~/.env.secrets", redact = true }
[[env]]
_.file = "~/.env.overrides"
