---
# yamllint disable rule:line-length
name: lint

on:
  pull_request:
  schedule:
  - cron: '0 5 * * 1'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  # renovate: datasource=github-releases depName=twpayne/chezmoi
  CHEZMOI_VERSION: "v2.68.1"
  # renovate: datasource=github-releases depName=dotenv-linter/dotenv-linter
  DOTENVLINTER_VERSION: "v3.3.0"
  # renovate: datasource=github-releases depName=koalaman/shellcheck
  SHELLCHECK_VERSION: "v0.11.0"

jobs:
  detect-changes:
    uses: ppat/github-workflows/.github/workflows/detect-changed-files.yaml@c867e85a344eba1f3408600b8212830fbe0decd9 # v3.1.0
    with:
      # yamllint disable-line rule:indentation
      files_yaml: |
        actions:
        - .github/workflows/**
        chezmoiscripts:
        - .chezmoiscripts/*.tmpl
        - private_dot_local/bash/*.tmpl
        - private_dot_local/bin/*.tmpl
        chezmoienv:
        - .chezmoitemplates/*.env
        - private_dot_env.*
        markdown:
        - '**.md'
        renovate:
        - .github/renovate.json
        - .github/renovate/**
        shellscripts:
        - private_dot_config/mise/tasks/**
        - private_dot_local/bash/**
        - private_dot_local/bin/**
        - dot_bashrc
        - dot_profile
        - '!**.tmpl'
        yaml:
        - '**.yaml'
        - '**.yml'
      git_ref: ${{ github.head_ref || github.ref }}

  chezmoi:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).chezmoiscripts_any_changed == 'true' || fromJSON(needs.detect-changes.outputs.results).chezmoienv_any_changed == 'true' }}
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
    - name: Setup repository and tools
      uses: ppat/homelab-ops-actions/actions/setup-repository-tools@1dd141af6c82152a0c701b035200cd781a1bcf3a # v1.0.2
      with:
        current_git_ref: ${{ github.head_ref || github.ref }}
        current_repository: ${{ github.repository }}
        mise_ignore_cfg: private_dot_config/mise/config.toml
        # renovate: datasource=github-releases depName=jdx/mise
        mise_version: "v2025.12.0"
        token: ${{ secrets.GITHUB_TOKEN }}
        mise_toml: |
          [tools]
          chezmoi       = "${{ env.CHEZMOI_VERSION }}"
          dotenv-linter = "${{ env.DOTENVLINTER_VERSION }}"
          shellcheck    = "${{ env.SHELLCHECK_VERSION }}"

    - name: Shellcheck chezmoi scripts
      if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).chezmoiscripts_any_changed == 'true' }}
      env:
        CHEZMOI_SCRIPTS: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).chezmoiscripts_all_changed_files }}
      shell: bash
      working-directory: ./current
      # yamllint disable-line rule:indentation
      run: |
        if [[ "${CHEZMOI_SCRIPTS}" == "ALL" ]]; then
          CHEZMOI_SCRIPTS=$(find . -type f -path './.chezmoiscripts/*.tmpl' -or  -path './private_dot_local/bash/*.tmpl' -or -path './private_dot_local/bin/*.tmpl')
        fi
        for sc in $CHEZMOI_SCRIPTS; do
          echo "::group::shellcheck $sc"
          echo "rendering file..."
          # set os to linux in template, otherwise won't render on github actions
          sed -i 's|"darwin"|"linux"|' "$sc"
          # don't want to fetch secrets during linting
          sed -i 's|{{ (bitwardenSecrets ".*" .bwsAccessToken).value }}|fake-test-value|' "$sc"
          chezmoi execute-template --source=$(pwd) < "$sc" > "${sc%.tmpl}"
          echo "running shellcheck..."
          shellcheck --rcfile .shellcheckrc "${sc%.tmpl}"
          echo "::endgroup::"
        done

    - name: Lint chezmoi dotenv files
      if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).chezmoienv_any_changed == 'true' }}
      env:
        DOTENV_FILES: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).chezmoienv_all_changed_files }}
      shell: bash
      working-directory: ./current
      # yamllint disable-line rule:indentation
      run: |
        if [[ "${DOTENV_FILES}" == "ALL" ]]; then
          DOTENV_FILES=$(find . -type f -path '*dot_env*.tmpl' -or -path '*.env')
        fi
        for e in $DOTENV_FILES; do
          echo "::group::dotenv $e"
          echo "rendering file..."
          # don't want to fetch secrets during linting
          sed -i 's|{{ (bitwardenSecrets ".*" .bwsAccessToken).value }}|fake-test-value|' "$e"
          chezmoi execute-template --source=$(pwd) < "$e" > "${e%.tmpl}"
          echo "running dotenv-linter..."
          dotenv-linter --skip QuoteCharacter "${e%.tmpl}"
          echo "::endgroup::"
        done

  github-actions:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).actions_any_changed == 'true' }}
    uses: ppat/github-workflows/.github/workflows/lint-github-actions.yaml@c867e85a344eba1f3408600b8212830fbe0decd9 # v3.1.0
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      files: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).actions_all_changed_files }}
      mise_ignore_cfg: private_dot_config/mise/config.toml

  markdown:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).markdown_any_changed == 'true' }}
    uses: ppat/github-workflows/.github/workflows/lint-markdown.yaml@c867e85a344eba1f3408600b8212830fbe0decd9 # v3.1.0
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      files: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).markdown_all_changed_files }}
      mise_ignore_cfg: private_dot_config/mise/config.toml

  pre-commit:
    uses: ppat/github-workflows/.github/workflows/lint-pre-commit.yaml@c867e85a344eba1f3408600b8212830fbe0decd9 # v3.1.0
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      mise_ignore_cfg: private_dot_config/mise/config.toml

  renovate-config-check:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).renovate_any_changed == 'true' }}
    uses: ppat/github-workflows/.github/workflows/lint-renovate-config-check.yaml@c867e85a344eba1f3408600b8212830fbe0decd9 # v3.1.0
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      files: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).renovate_all_changed_files }}
      mise_ignore_cfg: private_dot_config/mise/config.toml

  shellcheck:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).shellscripts_any_changed == 'true' }}
    uses: ppat/github-workflows/.github/workflows/lint-shellcheck.yaml@c867e85a344eba1f3408600b8212830fbe0decd9 # v3.1.0
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      files: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).shellscripts_all_changed_files }}
      mise_ignore_cfg: private_dot_config/mise/config.toml

  yaml:
    needs: [detect-changes]
    if: ${{ github.event_name != 'pull_request' || fromJSON(needs.detect-changes.outputs.results).yaml_any_changed == 'true' }}
    uses: ppat/github-workflows/.github/workflows/lint-yaml.yaml@c867e85a344eba1f3408600b8212830fbe0decd9 # v3.1.0
    with:
      git_ref: ${{ github.head_ref || github.ref }}
      files: ${{ github.event_name != 'pull_request' && 'ALL' || fromJSON(needs.detect-changes.outputs.results).yaml_all_changed_files }}
      mise_ignore_cfg: private_dot_config/mise/config.toml
